<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd" xmlns:tx="http://www.springframework.org/schema/tx">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/studentmanage?useUnicode=true&amp;characterEncoding=utf-8">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="tiger"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/xnsy/model/Category.hbm.xml</value>
				<value>com/xnsy/model/Item.hbm.xml</value>
				<value>com/xnsy/model/User.hbm.xml</value>
			</list>
		</property>
	</bean>
	
	<bean id="categoryDAO" class="com.xnsy.dao.impl.CategoryDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	
	<bean id="categoryService" class="com.xnsy.service.impl.CategoryService">
		<property name="categoryDAO" ref="categoryDAO">
		</property>
	</bean>
	
	<bean id="itemDAO" class="com.xnsy.dao.impl.ItemDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	
	<bean id="itemService" class="com.xnsy.service.impl.ItemService">
		<property name="itemDAO" ref="itemDAO">
		</property>
	</bean>
	
	<bean id="categoryAction" class="com.xnsy.action.categoryAction">
		<property name="categoryService" ref="categoryService"></property>
		<property name="itemService" ref="itemService"></property>
	</bean>
	
	<bean id="userDAO" class="com.xnsy.dao.impl.UserDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="userService" class="com.xnsy.service.impl.UserService">
		<property name="userDAO" ref="userDAO"></property>
	</bean>
	
	<bean id="userAction" class="com.xnsy.action.userAction">
		<property name="userService" ref="userService"></property>
	</bean>

	
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" /></beans>